.App {
  text-align: center;
}

.container-fluid {
  max-width: 95%;
  margin:0 auto;
}

.container {
  width: 79rem;
  max-width: 95%;
  margin:0 auto;
}

.dark-side {
  color:white;
  text-shadow: 1px 2px 7px rgb(0 0 0 / 1);
}

.dark-side .enfeite img {
  box-shadow: 1px 2px 7px rgb(0 0 0 / .5);
}

#header {
  height: 45rem;
  background: url("/assets/img/fundo.jpg") top center no-repeat;
}

#header.com-menu-fixed {
  height: 36rem;
}

#header .sanduiche {
  display: none;
  padding-top:1.25rem;
  font-size: 2.5rem;
  cursor:pointer;
  transition: .3s;
}

#header .sanduiche:hover {
  color:#36D900;
}

#header .banner {
  margin-top: 3.4rem;
  height: 20rem;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

#header .banner .texto {
  width: 34rem;
  position: relative;
  text-align: left;
  font-size: 3rem;
}

#header .banner .texto2, #header .banner .texto3, #header .banner .texto4 {
  display: none;
}

#header .banner .carro {
  width: 40rem;
}

#header .banner .carro img {
  max-width: 100%;
  margin-top: 1rem;
}

#header .banner .texto.active {
  animation: texto;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes texto {
  0% { 
    margin-left: 7rem;
    opacity: 0;
    filter: blur(.3rem);
  }
  
  100% { 
    margin-left: 0;
    opacity: 1;
    filter: blur(0);
  }
}

#header .banner .carro.active img {
  animation: carro;
  animation-duration: .7s;
  animation-timing-function: ease;
}

@keyframes carro {
  0% { 
    margin-left: -30rem;
    opacity: 0;
    filter: blur(.3rem);
  }
  
  100% { 
    margin-left: 0rem;
    opacity: 1;
    filter: blur(0);
  }
}

#header .button {
  text-align: center;
  margin:0 auto;
}

#header .contador {
  display: table;
  margin:0 auto;
}

#header .contador div {
  display: table-cell;
  width: 4.3rem;
  font-size: 1.25rem;
  margin-top: 2rem;
  transition: .3s;
  cursor:pointer;
}

#header .contador div:hover, #header .contador div.active {
  color:#36D900;
}

#menu .container {
  display: flex;
  height: 6.25em;
  flex-flow: column wrap;
  align-content: space-between;
  padding-top: 2rem;
}

#menu .logo {
  cursor:pointer;
}

#menu .logo img {
  width: 20rem;
  transition: .3;
}

#menu .menu {
  transition: .3s;
}

#menu .menu .items {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.25rem;
}

#menu .menu .items .item {
  padding:1.8rem 3rem 0 0;
  cursor: pointer;
  transition: .3s;
}

#menu .menu .items .item:hover, #menu .menu .items .item.active {
  color:#36D900;
}

#menu.menu-fixed {
  position: fixed;
  top:0;
  background: rgba(25, 25, 25, 1);
  width: 100%;
  transition: .3s;
  z-index: 100;
}

#menu.menu-fixed .logo img {
  width: 15rem;
  transition: .3;
}

#menu.menu-fixed .container {
  padding-top: 1rem;
  height: 4.7rem;
}

#menu.menu-fixed .items .item {
  padding: 1rem 3rem 0 0;
}

#footer {
  height: 4.3rem;
  padding-top: .7rem;
  background-color: black;
  color: white;
  position: relative;
  z-index: 10;
}

#footer .empresa {
  font-size: 1.5rem;
}

#whatsapp {
  position:fixed;
  bottom: 2rem;
  right: 2rem;
  width: 16rem;
  background-color: #2EB700;
  color: white;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;
  padding:.7rem 2rem .3rem;
  cursor:pointer;
  transition: .3s;
  animation: SobeDesce 2.5s linear infinite;
  z-index: 999;
}

#whatsapp:hover {
  background-color:#36D900;
}

#whatsapp .container {
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}

#whatsapp .icon {
  font-size: 2.5rem;
}

#whatsapp .phone {
  padding-top: .34rem;
  padding-left: .5rem;
  font-size: 1.4rem;
}

#whatsapp .balao-seta {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #2EB700;
  position: absolute;
  transform: rotate(110deg);
  right: 9.6rem;
  transition: .3s;
}

#whatsapp:hover .balao-seta {
  border-bottom: 25px solid #36D900;
}

@keyframes SobeDesce {
  0%, 100% {
    bottom: 2rem;
  }
  50% {
    bottom: 1.7rem;
  }
}

#quem-somos .container, #entregas .container {
  padding:7rem 0;
}

#quem-somos .container {
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}

#quem-somos .content, #entregas .content {
  text-align: left;
}

#quem-somos .content {
  width: 50%;
}

#quem-somos .subtitulo, #entregas .subtitulo {
  color:#646464;
}

#quem-somos .titulo, #entregas .titulo {
  color:#2A2A2A;
}

.subtitulo {
  font-size: 1.5rem;
}

.titulo {
  font-size: 2.5rem;
}

.enfeite img {
  width: 7rem;
  margin: .7rem 0;
}

#quem-somos .pode-confiar {
  color:#2A2A2A;
  font-size: 1.5rem;
  margin-top: .7rem;
}

#quem-somos .texto {
  color:#646464;
  padding-right: 3rem;
  line-height: 1.5;
}

#quem-somos .cliente-feliz, #quem-somos .entregador {
  width: 25%;
}

#quem-somos .entregador-mobile {
  display: none;
}

#quem-somos .cliente-feliz img {
  max-width: 90%;
  margin-top: 4rem;
}

#quem-somos .entregador img {
  max-width: 90%;
}

#locais {
  background: url("/assets/img/fundo.jpg") top center no-repeat;
  text-align: left;
}

#locais .container {
  padding:7rem 0;
  height: 36rem;
}

#locais .sul-brasil {
  background: url("/assets/img/sul-brasil.webp") top -30rem left -16rem no-repeat;
  background-size: 70rem;
}

#locais .rosa-dos-ventos {
  background: url("/assets/img/rosa-dos-ventos.webp") top 12rem left 7rem no-repeat;
  background-size: 27rem;
}

#locais .locais {
  font-size: 2.5rem;
}

#locais .locais div {
  margin-bottom: 2.5rem;
}

#locais .locais div.porto-alegre {
  margin-left: 43rem;
}

#locais .locais div.grande-porto-alegre {
  margin-left: 40rem;
}

#locais .locais div.litoral-rio-grandense {
  margin-left: 36rem;
}

#locais .locais div.litoral-sul-catarinense {
  margin-left: 31rem;
}

#locais .button, #header .button {
  text-align: center;
  margin-top: 4rem;
}

#locais .button button, #header .button button {
  cursor:pointer;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 2.1rem;
  padding:.5rem 4rem 1rem;
  color:#2A2A2A;
  transition: .3s;
}

#locais .button button:hover, #header .button button:hover {
  background-color: #36D900;
  color: #134400;
}

#entregas .entregas {
  display: flex;
  height: 30rem;
  margin-top: .7rem;
  width: 100%;
}

#entregas .tipo {
  width: 30%;
  background: #000;
  cursor:pointer;
}

#entregas .tipo div {
  padding:1.5rem 2rem;
  font-size: 2rem;
}

#entregas .para-voce {
  background: url(/assets/img/logo.png) bottom 1rem right 1.5rem no-repeat, url(/assets/img/para-voce.jpg) top center;
  background-size: 10rem auto, cover;
  transition:.3s ease;
}

#entregas .para-voce:hover {
  background: url(/assets/img/logo.png) bottom 1rem right 1.5rem no-repeat, url(/assets/img/para-voce.jpg) top -1.2rem center;
  background-size: 10rem auto, cover;
}

#entregas .para-empresas {
  background: url(/assets/img/logo.png) bottom 1rem right 1.5rem no-repeat, url(/assets/img/para-empresas.jpg) top center;
  background-size: 10rem auto, cover;
  margin: 0 auto;
  transition:.3s ease-in-out;
}

#entregas .para-empresas:hover {
  background: url(/assets/img/logo.png) bottom 1rem right 1.5rem no-repeat, url(/assets/img/para-empresas.jpg) top -1.2rem center;
  background-size: 10rem auto, cover;
}

#entregas .simples {
  background: url(/assets/img/logo.png) bottom 1rem right 1.5rem no-repeat, url(/assets/img/simples.jpg) top center;
  background-size: 10rem auto, cover;
  transition:.3s ease-in-out;
}

#entregas .simples:hover {
  background: url(/assets/img/logo.png) bottom 1rem right 1.5rem no-repeat, url(/assets/img/simples.jpg) top -1.2rem center;
  background-size: 10rem auto, cover;
}

#pronto-comecar {
  background: url(/assets/img/fundo-blur.jpg) center center no-repeat;
  height: 30rem;
  overflow: hidden;
  transition:3s;
}

#pronto-comecar .pronto-comecar {
  position: relative;
  z-index: 4;
}

#pronto-comecar img {
  max-width: 100%;
}

#pronto-comecar .container {
  padding-top:4rem;
  font-size: 3.4rem;
}

#pronto-comecar .entregador {
  position: absolute;
  width: 32rem;
  overflow: hidden;
  height: 27rem;
  margin-top: -1rem;
  z-index: 3;
}

#pronto-comecar .celular {
  position: absolute;
  width: 30rem;
  right: 3rem;
  margin-top: -3rem;
  z-index: 2;
  cursor:pointer;
}

#pronto-comecar .carro {
  position: absolute;
  width: 48rem;
  margin: .5rem auto 0;
  left: 25rem;
  filter:blur(.034rem);
  z-index: 1;
}

#pronto-comecar .container-mobile {
  display:none;
}

@media only screen and (max-width: 1240px) {
  #header .banner {
    zoom:.9;
  }

  #header.com-menu-fixed {
    height: 34rem;
  }

  #pronto-comecar img {
    zoom:.7;
  }

  #pronto-comecar .carro {
    left: 18rem;
  }
}

@media only screen and (max-width: 1110px) {
  #header .banner {
    zoom:.75;
  }

  #header {
    height: 40rem;
  }

  #header.com-menu-fixed {
    height: 30rem;
  }

  #menu .menu .items .item {
    padding: 1.8rem 2rem 0 0;
  }

  #pronto-comecar .carro {
    left: 16rem;
    width: 43rem;
  }

  #locais .locais div {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  #header.com-menu-fixed {
    height: 40rem;
  }

  #menu .items {
    display: none !important;
  }
  
  #header .sanduiche {
    display: block;
  }

  #entregas .tipo div {
    font-size: 1.6rem;
  }

  #menu.menu-fixed {
    position: relative;
    height: 6.25em;
    background:none;
  }

  #menu.menu-fixed .logo img {
    width: 20rem;
  }
}

@media only screen and (max-width: 900px) {
  #header .banner {
    zoom:.66;
  }

  #locais .container {
    height: 44rem;
  }

  #entregas .entregas {
    height: 19rem;
  }

  #pronto-comecar .carro {
    left: 21rem;
    width: 25rem;
  }
}

@media only screen and (max-width: 830px) {
  #header .banner {
    zoom:.52;
  }

  #header {
    height: 33rem;
  }

  #menu.menu-fixed {
    position: relative;
    height: 6.25em;
    background:none;
  }

  #header.com-menu-fixed {
    height: 31rem;
  }

  #quem-somos .entregador {
    display: none;
  }

  #quem-somos .entregador-mobile {
    display: block;
    margin: 1rem auto;
  }

  #quem-somos .content {
    width: 60%;
  }

  #quem-somos .cliente-feliz, #quem-somos .entregador {
    width: 30%;
  }

  #locais .locais {
    margin-top: 2rem;
  }

  #locais .container {
      height: 32rem;
  }

  #locais .locais div.porto-alegre, #locais .locais div.grande-porto-alegre, #locais .locais div.litoral-rio-grandense, #locais .locais div.litoral-sul-catarinense {
    margin-left:0;
  }

  #locais .rosa-dos-ventos {
    background: url(/assets/img/rosa-dos-ventos.webp) top 16rem left 22rem no-repeat;
    background-size: 18rem;
  }

  #pronto-comecar {
    zoom: 0.7;
  }

  #pronto-comecar .container {
    display:none;
  }

  #pronto-comecar .container-mobile {
    display:block !important;
  }

  #pronto-comecar .carro {
    left: 21rem;
    width: 41rem;
  }
}

@media only screen and (max-width: 650px) {
  #header {
    zoom: .9;
  }

  #header, #header.com-menu-fixed {
    height: 45rem;
  }
  #menu .logo img {
    width: 16rem;
  }

  #header .sanduiche {
    padding-top: 0;
  }

  #header .banner {
    margin-top: 1rem;
    height: auto;
    display: block;
    zoom: .61;
  }

  .titulo {
    font-size: 2.3rem;
  }

  #locais .container {
    height: 34rem;
  }

  #entregas .entregas {
    display: block;
    height: auto;
  }

  #entregas .tipo {
    width: 25rem;
    height: 30rem;
    margin: 0 auto 3rem;
    max-width: 95%;
  }

  #quem-somos .container, #entregas .container {
    padding: 5rem 0;
  }

  #header .banner .texto {
    height: 15rem;
  }

  #locais .rosa-dos-ventos {
    background: url(/assets/img/rosa-dos-ventos.webp) top 10rem left 12rem no-repeat;
    background-size: 18rem;
  }

  #locais .button button, #header .button button {
    font-size: 2rem;
  }

  #quem-somos .content {
    width: 95%;
    margin: 0 auto;
  }

  #quem-somos .entregador-mobile {
    display: none;
  }

  #quem-somos .entregador {
    display: block;
  }

  #quem-somos .cliente-feliz, #quem-somos .entregador {
    width: 50%;
    margin-top: 1rem;
  }

  #whatsapp {
    right: 2.1rem;
  }

  #footer {
    height: 10.2rem;
  }

  #pronto-comecar .container {
    display:none;
  }

  #pronto-comecar .container-mobile {
    display:block !important;
  }

  #pronto-comecar .container-mobile .entregador {
    display:none;
  }

  #pronto-comecar .container-mobile .carro {
    display:none;
  }
}