.App {
  text-align: center;
}

.container-fluid {
  max-width: 95%;
  margin:0 auto;
}

.container {
  width: 79rem;
  max-width: 95%;
  margin:0 auto;
}

.dark-side {
  color:white;
  text-shadow: 0 3px 3px rgb(0 0 0 / 1);
}

.dark-side .enfeite img {
  box-shadow: 0 3px 3px rgb(0 0 0 / .7);
}

#header {
  height: 100vh;
  background: url("/assets/img/fundo.jpg") top center no-repeat;
}

#menu .container {
  display: flex;
  height:100px;
  flex-flow: column wrap;
  align-content: space-between;
  padding-top: 2rem;
}

#menu .logo img {
  width: 20rem;
}

#menu .menu .items {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.25rem;
}

#menu .menu .items .item {
  padding:1.8rem 3rem 0 0;
  cursor: pointer;
  transition: 0.3s;
}

#menu .menu .items .item:hover, #menu .menu .items .item.active {
  color:#36D900;
}

#footer {
  height: 4.3rem;
  padding-top: .7rem;
  background-color: black;
  color: white;
}

#footer .empresa {
  font-size: 1.5rem;
}

#whatsapp {
  position:fixed;
  bottom: 2rem;
  right: 2rem;
  width: 16rem;
  background-color: #2EB700;
  color: white;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;
  padding:.7rem 2rem .3rem;
  cursor:pointer;
  transition: .3s;
  animation: SobeDesce 2.5s linear infinite;
}

#whatsapp:hover {
  background-color:#36D900;
}

#whatsapp .container {
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}

#whatsapp .icon {
  font-size: 2.5rem;
}

#whatsapp .phone {
  padding-top: .34rem;
  padding-left: .5rem;
  font-size: 1.4rem;
}

@keyframes SobeDesce {
  0%, 100% {
    bottom: 2rem;
  }
  50% {
    bottom: 1.7rem;
  }
}

#quem-somos .container {
  padding:7rem 0;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}

#quem-somos .content {
  text-align: left;
  width: 50%;
}

#quem-somos .subtitulo {
  color:#646464;
}

#quem-somos .titulo {
  color:#2A2A2A;
}

.subtitulo {
  font-size: 1.5rem;
}

.titulo {
  font-size: 2.5rem;
}

.enfeite img {
  width: 7rem;
  margin: .7rem 0;
}

#quem-somos .pode-confiar {
  color:#2A2A2A;
  font-size: 1.5rem;
  margin-top: .7rem;
}

#quem-somos .texto {
  color:#646464;
  padding-right: 3rem;
  line-height: 1.5;
}

#quem-somos .cliente-feliz, #quem-somos .entregador {
  width: 25%;
}

#quem-somos .cliente-feliz img {
  max-width: 90%;
  margin-top: 4rem;
}

#quem-somos .entregador img {
  max-width: 90%;
}

#locais {
  background: url("/assets/img/fundo.jpg") top center no-repeat;
  text-align: left;
}

#locais .container {
  padding:7rem 0;
  height: 36rem;
}

#locais .sul-brasil {
  background: url("/assets/img/sul-brasil.webp") top -30rem left -16rem no-repeat;
  background-size: 70rem;
}

#locais .rosa-dos-ventos {
  background: url("/assets/img/rosa-dos-ventos.webp") top 12rem left 7rem no-repeat;
  background-size: 27rem;
}

#locais .locais {
  font-size: 2.5rem;
}

#locais .locais div {
  margin-bottom: 2.5rem;
}

#locais .locais div.porto-alegre {
  margin-left: 43rem;
}

#locais .locais div.grande-porto-alegre {
  margin-left: 40rem;
}

#locais .locais div.litoral-rio-grandense {
  margin-left: 36rem;
}

#locais .locais div.litoral-sul-catarinense {
  margin-left: 31rem;
}

#locais .button {
  text-align: center;
  margin-top: 4rem;
}

#locais .button button {
  cursor:pointer;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 2.1rem;
  padding:.5rem 4rem 1rem;
  color:#2A2A2A;
  transition: .3s;
}

#locais .button button:hover {
  background-color: #36D900;
  color: #134400;
}