.App {
  text-align: center;
}

#header {
  height: 100vh;
  color:white;
  background: url("/assets/img/fundo.jpg") top center no-repeat;
}

#footer {
  height: 4.3rem;
  padding-top: .7rem;
  background-color: black;
  color: white;
}

#footer .empresa {
  font-size: 1.5rem;
}